
/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  position: relative;
  display: inline;
  float: left;
  margin-left: 1.0416666666666666666666666666667%;
  margin-right: 1.0416666666666666666666666666667%;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12{
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 6.25%;
}

.container_12 .grid_2 {
  width: 14.583333333333333333333333333333%;
}

.container_12 .grid_3 {
  width: 22.916666666666666666666666666667%;
}

.container_12 .grid_4 {
  width: 31.25%;
}

.container_12 .grid_5 {
  width: 39.583333333333333333333333333333%;
}

.container_12 .grid_6 {
  width: 47.916666666666666666666666666667%;
}

.container_12 .grid_7 {
  width: 56.25%;
}

.container_12 .grid_8 {
  width: 64.583333333333333333333333333333%;
}

.container_12 .grid_9 {
  width: 72.916666666666666666666666666667%;
}

.container_12 .grid_10 {
  width: 81.25%;
}

.container_12 .grid_11 {
  width: 89.583333333333333333333333333333%;
}

.container_12 .grid_12 {
  width: 97.916666666666666666666666666667%;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 8.3333333333333333333333333333333%;
}

.container_12 .prefix_2 {
  padding-left: 16.666666666666666666666666666667%;
}

.container_12 .prefix_3 {
  padding-left: 25%;
}

.container_12 .prefix_4 {
  padding-left: 33.333333333333333333333333333333%;
}

.container_12 .prefix_5 {
  padding-left: 41.666666666666666666666666666667%;
}

.container_12 .prefix_6 {
  padding-left: 50%;
}

.container_12 .prefix_7 {
  padding-left: 58.333333333333333333333333333333%;
}

.container_12 .prefix_8 {
  padding-left: 66.666666666666666666666666666667%;
}

.container_12 .prefix_9 {
  padding-left: 75%;
}

.container_12 .prefix_10 {
  padding-left: 83.333333333333333333333333333333%;
}

.container_12 .prefix_11 {
  padding-left: 91.666666666666666666666666666667%;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 8.3333333333333333333333333333333%;
}

.container_12 .suffix_2 {
  padding-right: 16.666666666666666666666666666667%;
}

.container_12 .suffix_3 {
  padding-right: 25%;
}

.container_12 .suffix_4 {
  padding-right: 33.333333333333333333333333333333%;
}

.container_12 .suffix_5 {
  padding-right: 41.666666666666666666666666666667%;
}

.container_12 .suffix_6 {
  padding-right: 50%;
}

.container_12 .suffix_7 {
  padding-right: 58.333333333333333333333333333333%;
}

.container_12 .suffix_8 {
  padding-right: 66.666666666666666666666666666667%;
}

.container_12 .suffix_9 {
  padding-right: 75%;
}

.container_12 .suffix_10 {
  padding-right: 83.333333333333333333333333333333%;
}

.container_12 .suffix_11 {
  padding-right: 91.666666666666666666666666666667%;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 8.3333333333333333333333333333333%;
}

.container_12 .push_2 {
  left: 16.666666666666666666666666666667%;
}

.container_12 .push_3 {
  left: 25%;
}

.container_12 .push_4 {
  left: 33.333333333333333333333333333333%;
}

.container_12 .push_5 {
  left: 41.666666666666666666666666666667%;
}

.container_12 .push_6 {
  left: 50%;
}

.container_12 .push_7 {
  left: 58.333333333333333333333333333333%;
}

.container_12 .push_8 {
  left: 66.666666666666666666666666666667%;
}

.container_12 .push_10 {
  left: 83.333333333333333333333333333333%;
}

.container_12 .push_9 {
  left: 75%;
}

.container_12 .push_11 {
  left: 91.666666666666666666666666666667%;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -8.3333333333333333333333333333333%;
}

.container_12 .pull_2 {
  left: -16.666666666666666666666666666667%;
}

.container_12 .pull_3 {
  left: -25%;
}

.container_12 .pull_4 {
  left: -33.333333333333333333333333333333%;
}

.container_12 .pull_5 {
  left: -41.666666666666666666666666666667%;
}

.container_12 .pull_6 {
  left: -50%;
}

.container_12 .pull_7 {
  left: -58.333333333333333333333333333333%;
}

.container_12 .pull_8 {
  left: -66.666666666666666666666666666667%;
}

.container_12 .pull_9 {
  left: -75%;
}

.container_12 .pull_10 {
  left: -83.333333333333333333333333333333%;
}

.container_12 .pull_11 {
  left: -91.666666666666666666666666666667%;
}


/* `Responsive
----------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:768px) {
  .container_12 {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%
  }
  .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin: 0;
    width: 100% !important;
  }
  .push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .prefix_1 {
    left: 0;
    padding: 0;
    margin: 0;
  }
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}


/* ---------------------------------------------------------
   2. General reset
   ---------------------------------------------------------*/
* {
  outline: none;
}

body.is-modal {
    background-color: #F9F9F9;
}
img {border-style: none;}
/* set styles for default page links */

a mark,
mark {
  color: #fff;
  background-color: #3b5eaa;
  padding: 0 10px;
}
/* set default styles in all browsers */
input,
textarea,
select{
  vertical-align: middle;
  color: #000;
}
form,
fieldset{
  margin: 0;
  padding: 0;
  border-style: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {border:0;}
input[type="submit"]:focus,
input[type="button"]:focus {outline:none;}
input[type="search"] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {display:none;}

input[type="email"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea{
  -webkit-appearance:none;
  border-radius:0;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption { 
  margin: 5px; 
}

/* transition fade effect styles */
a,
input,
textarea,
button{
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
textarea:focus:-moz-placeholder,
input:-moz-placeholder{
  -webkit-transition:color 0.3s linear;
  -o-transition:color 0.3s linear;
  transition:color 0.3s linear;
}
textarea:focus::-moz-placeholder,
input::-moz-placeholder{
  -webkit-transition:color 0.3s linear;
  -o-transition:color 0.3s linear;
  transition:color 0.3s linear;
}
textarea:focus:-ms-input-placeholder,
input:-ms-input-placeholder{
    -webkit-transition:color 0.3s linear;
  -o-transition:color 0.3s linear;
  transition:color 0.3s linear;
}
textarea:focus::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  -webkit-transition:color 0.3s linear;
  -o-transition:color 0.3s linear;
  transition:color 0.3s linear;
}
/* ---------------------------------------------------------
   3. Сommon site styles
   ---------------------------------------------------------*/
/* main container styles */
#wrapper{
  min-width: 100%; 
  max-width: 1200px; 
  overflow:hidden;
}
section { 
  height: auto; 
  overflow: hidden; 
  position: relative; 
  margin: 0 auto; 
}

/*** ---> STANDARD TOOLS HEADER / FOOTER <--- ***/
header {
  height: 78px;
  background-color: #142034;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

header .logo {
  text-decoration: none;
  font-size: 22px;
  font-style: italic;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
  line-height: 78px;
}

header .logo img {
  float: left;
  margin: 0 20px;
}

.cp {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.no-border {
  border: none;
}

@media all and (min-width:768px) and (max-width: 1023px) {
    footer .footer-col ul li a {
        font-size: 12px;
    }
}

@media all and (min-width:320px) and (max-width: 767px) {
    header {
        height: 90px;
    }
    header .logo img {
        display: block;
        margin: 0 auto;
        float: none;
        width: 150px;
    }
    header .logo {
        font-size: 15px !important;
        display: block;
        text-align: center;
        line-height: 15px;
    }
    footer .footer-col ul {
      min-height: auto;
    }
    footer .footer-col {
        width: 100%;
    }
    footer .footer-col ul li a {
        font-size: 12px;
    }
}

/* Top Options */
.options {
  border-bottom: 1px solid #bfc6d3;
}

.options h1 {
  font-size: 18px;
  color: #4c74b9;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  margin-top: 0px!important;
  font-family: 'Inter-Bold', sans-serif!important;
}

.options ul {
  list-style: none;
  float: left;
  padding: 0;
}

.options ul li {
  float: left;
  margin: 0 2px;
  text-align: center;
}

.options ul li a {
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
  color: #333;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
}

.options ul li a:hover,
.options ul li a.active  {
  background-color: #4c74b9;
  color: #fff;
}

.options ul li a.active:after {
    border-color: #4c74b9 transparent transparent;
    border-style: solid;
    border-width: 8px 10px medium;
    content: "";
    height: 0;
    margin-left: -10px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
    z-index: 20;
    top: 50px;
    left: 50%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* Result colors */

.color-resutls ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.color-resutls ul li {
  float: left;
  width: 100px;
  margin: 0 4% 4% 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.color_palette {
  width: 70%;
  height: 400px;
  float: left;
  background-color: #1F85DE;
  margin: 0;
  padding: 0;
}

.gradient_palette {
  float: left;
  height: 400px;
  width: 25px;
  margin: 0 20px;
  padding: 0;
  background: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet); 
}

.main_color {
  float: left;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

.main_color input {
width: 100%;
border: 0;
background: transparent!important;
color: white;
font-weight: bold;
text-transform: uppercase;
text-align: center;
}

.color_codes ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  float: left;
  width: 100px;
}

.color_codes ul li {
  background-color: #fff;
  font-size: 16px;
  color: #999;
  padding: 0 10px;
  margin: 5px 0;
  height: 30px;
  line-height: 30px;
  display: block;
}

.color_codes ul li strong {
  color: #333;
  float: right;
}

.color_codes ul li input[type="text"] {
	width: 75%;
	float: right;
	text-align: right;
	border: 0;
	padding-top: 5px;
	color: #333;
	font-weight: bold;
	background-color: transparent!important;
    height: auto!important;
    padding: 0px!important;
    padding-top: 5px!important;
}

.btn_save {
  float: left;
  height: 85px;
  width: 100px;
  line-height: 85px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  background: #26b16d;
}

.btn_save:hover {
  background-color: #99cc63;
  color: #fff;
}

.saved_colors h2 {
  font-size: 16px;
  color: #4c74b9;
  text-transform: uppercase;
  background-color: #fff;
  height: 35px;
  line-height: 40px;
  text-align: center;
  margin: 0 0 20px 0;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.saved_colors h2:after {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 12px 130px medium;
    content: "";
    height: 0;
    margin-left: -130px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
    z-index: 20;
    top: 35px;
    left: 50%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.saved_colors ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.saved_colors ul li {
  float: left;
  margin: 5px;
  width: 80px;
  height: 65px;
  line-height: 65px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff url(/web-design/color-picker/wp-content/themes/colorpicker/assets/images/icon-pin.png) center center no-repeat;
  display: block;
  position: relative;
}

.saved_colors ul li a {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url(/web-design/color-picker/wp-content/themes/colorpicker/assets/images/icon-close.png) center center no-repeat;
  display: none;
}

.saved_colors ul li:hover a {
  display: block;
}

.btn_clear {
  float: left;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 5px;
  background: #f44f5c url(/web-design/color-picker/wp-content/themes/colorpicker/assets/images/icon-clear.png) 10px center no-repeat;
}

.btn_clear:hover {
  background: #f04d50 url(/web-design/color-picker/wp-content/themes/colorpicker/assets/images/icon-clear.png) 10px center no-repeat;
  color: #fff;
}

.bottom_options {
  background-color: #fff;
}

.bottom_options ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.bottom_options ul li {
  margin: 0 2px;
  display: inline-block;
}

.bottom_options ul li a {
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 20px;
  color: #333;
  border: 2px solid transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
}

.bottom_options ul li a:hover {
  border-color: #4c74b9;
  color: #4c74b9;
}

.tips {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 99;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 155px;
  text-align: center;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #f7941d url(/web-design/color-picker/wp-content/themes/colorpicker/assets/images/icon-tips.png) center center no-repeat;
}

.tips:hover {
  background: #ffd12d url(/web-design/color-picker/wp-content/themes/colorpicker/assets/images/icon-tips.png) center center no-repeat;
  color: #000;
}

.blue { background: #1F85DE !important; }
.dark_blue { background: #1f3d7c !important; }
.orange { background: #DE781F !important; }
.pink { background: #cd4b7f !important; }
.green { background: #3ea79d !important; }

            header{height:auto !important;}
            .sp-container{z-index:999 !important;}
            .tips{bottom:10px; !important; top:auto;}
            .options{padding:10px !important;}
            .hidden-logo {background: url(../../img/new-fx3.png); background-size:cover;}
            .footer-nav {text-align:left; margin:50px 0;}
.footer-nav li {list-style-type:none; margin-bottom:10px;}
.footer-nav li a {color:#999;}
.footer-nav li a:hover {color:#ccc;}
.footer-nav li a:active {color:#999;}

p.footer-subnav {text-align:center; color:#999; border-top:1px solid #999; padding-top:20px; margin-top:0px;}
.footer-subnav .divider {padding:0 5px;}
.footer-subnav a {color:#999;}
.footer-subnav a:hover {color:#fff;}

/* Responsive view */
@media all and (min-width:1024px) and (max-width: 1199px) {
  .options ul li a {
    font-size: 14px;
    padding: 0 15px;
  }
  .options h1 {
    font-size: 16px;
  }
  .color_palette {
    width: 65%;
  }
  .saved_colors h2:after {
    border-width: 12px 110px medium;
    margin-left: -120px;
  }
  .saved_colors ul {
    width: 234px;
    margin: 0 auto;
  }
  .saved_colors ul li {
    width: 68px;
  }
}

@media all and (min-width:768px) and (max-width: 1023px) {
  .options h1 {
    text-align: center;
    margin-bottom: 0;
  }
  .options ul {
    float: none;
    overflow: hidden;
    height: 58px;
  }
  .options ul li a {
    font-size: 14px;
    padding: 0 15px;
  }
  .color-resutls ul {
    float: none;
  }
  .color_selector {
    margin-bottom: 20px;
  }
  .saved_colors ul li {
    width: 107px;
    height: 80px;
    line-height: 80px;
  }
}

@media all and (min-width:320px) and (max-width: 767px) {
  .tips {
    width: 50px;
    height: 50px;
    font-size: 11px;
    line-height: 78px;
    background-size: 50px 50px;
  }
  .options h1 {
    text-align: center;
    margin: 0;
  }
  .options ul {
    margin: 0;
  }
  .options ul li {
    width: 50%;
    float: left;
    margin: 0;
  }
  .options ul li a {
    font-size: 12px;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
  }
  .color-resutls ul {
    float: none;
  }
  .color-resutls ul li {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 12px;
  }
  .color_selector {
    margin-bottom: 20px;
  }
  .color_palette {
    width: 85%;
    height: 250px;
  }
  .gradient_palette {
    width: 20px;
    margin: 0 0 0 20px;
    height: 250px;
  }
  .color_codes {
    float: left;
    margin-top: 20px;
  }
  .main_color {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 12px;
  }
  .color_codes ul {
    margin: 0 0 0 8px;
    float: left;
    width: 146px;
  }
  .color_codes ul li {
    width: 32%;
    float: left;
    margin: 0 1% 1% 0;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
  }
  .btn_save {
    width: 70px;
    height: 70px;
    line-height: 110px;
    font-size: 12px;
    background-position: center 10px;
  }
  .saved_colors ul li {
    width: 63px;
    height: 63px;
    line-height: 63px;
  }
  .bottom_options ul li a {
    font-size: 13px;
    height: 30px;
    line-height: 26px;
    margin: 2px 0;
  }
}

/*** New header - Additional Styles **/

.main-nav-wrapper .dbox.orange {
	background-image: url(https://www.webfx.com/assets/global/img/header/search-pricing.png)!important;
	background-color: #FFFDFA!important;
	background-position-y: 45px!important;
    background-position-x: 60%!important;
    background-size: 300px!important;
    background-repeat: no-repeat!important;
}

.main-nav-wrapper .dbox.blue {
	background-image: url(https://www.webfx.com/assets/global/img/header/brand-pricing.png)!important;
    background-position: right bottom!important;
	background-color: #f2f8ff!important;
    background-color: rgba(204,228,255,0.16)!important;
}

.main-nav-wrapper .dbox.blue.dbox-platforms {
	background-image: url(https://www.webfx.com/assets/global/img/header/platform.png)!important;
    background-position: right bottom!important;
	background-color: #f2f8ff!important;
    background-color: rgba(204,228,255,0.16)!important;
}

.main-nav-wrapper .dbox.blue.dbox-content-marketing {
	background-image: url(https://www.webfx.com/assets/global/img/header/copywriting.png)!important;
    background-position: right bottom!important;
	background-color: #f2f8ff!important;
    background-color: rgba(204,228,255,0.16)!important;
}

.main-nav-wrapper .dbox.green.dbox-analytics {
	background-image: url(https://www.webfx.com/assets/global/img/header/analytics.png)!important;
    background-position: right bottom!important;
	background-color: #f3f9fa!important;
    background-color: rgba(212,239,226,0.16)!important;
}

@media (max-width: 1124px) {
	.main-nav-wrapper .dbox,
	.main-nav-wrapper .dbox.green.dbox-analytics,
	.main-nav-wrapper .dbox.blue.dbox-content-marketing,
	.main-nav-wrapper .dbox.blue.dbox-platforms,
	.main-nav-wrapper .dbox.blue,
	.main-nav-wrapper .dbox.orange.dbox-organic-search	{
		padding: 0!important;
		background: transparent!important;
		min-height: inherit!important;
		margin-bottom: 92px!important;
	}
}

/*** Main Menu Tweaks ***/

.main-nav-wrapper .card-icon {
	padding: 0px!important;
}

@media (min-width: 320px) and (max-width: 767px) {
	.color_codes ul li {
		width: 96%!important;
	}
}